@model IEnumerable<NinjaDomain.Classes.Topic>

@{
    ViewBag.Title = "Topics";
    Layout = null;
}

<h2>Topics</h2>

<p>
    @Html.ActionLink("Add Topic", "CreateTopic")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TopicSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.TopicSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated, "{0:d}")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified, "{0:d}")
        </td>
        <td>
            @Html.ActionLink("Create Post", "Create", new { id=item.Id }) |
            @Html.ActionLink("See More", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
